.dial-points-base {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-opacity: 0.3;
}

.dial-points-point {
  fill: white;
  stroke: white;
  stroke-width: 2;
  stroke-opacity: 0.3;
}

.dial-points-offset {
  fill: none;
  stroke: yellow;
  stroke-width: 5;
  stroke-opacity: 0.6;
}

.dial-points-offset-fill {
  fill: yellow;
  fill-opacity: 0.08;
}
