.dial-ring-number {
  fill: white;
  font-size: 32px;
  font-weight: bold;
}

.dial-ring-decaminute {
  fill: none;
  stroke: #fff;
  stroke-width: 20;
  stroke-dashoffset: 0;
}

.dial-ring-hour {
  fill: none;
  stroke: #fff;
  stroke-width: 40;
  stroke-dashoffset: 0;
}
